{% extends 'base.html' %}

{% block body %}
  {% comment %} <button type="button" style="width : 300px">Hello</button> {% endcomment %}

  
  <hr style="border-top:1px solid #000; clear:both;"/>

  <table id = "table" class = "table table-bordered">
    <thead class="alert-warning">
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Reg. NO</th>
            <th>Taluka</th>
            <th>District</th>
            <th>State</th>
            <th>Pincode</th>
        </tr>
    </thead>
    <tbody>
      {% for s in student %}       
        <tr>
          <td>   {{ s.sname }} </td>
          <td>   {{ s.address }} </td>
          <td>   {{ s.reg_no }} </td>
          <td>   {{ s.taluka }} </td>
          <td>   {{ s.district }} </td>
          <td>   {{ s.state }} </td>
          <td>   {{ s.pincode }} </td>
        </tr>
       {% endfor %} 
    </tbody>
</table>

{% endblock %}





